:root {
  --clr-text: #0d454a;
}

.left-side {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  position: absolute;
  left: 45px;
  top: 47.5%;
  transform: translate(0, -50%);

  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: repeat(7, 50px);
  gap: 15px;
}

label,
input {
  font-family: "SpaceMono-Bold";
  grid-column: 1/-1;
}

.custom {
  grid-column: 3/-1;
  grid-row: 5/6;
}

.custom::placeholder {
  color: #4d6f6d;
}

input {
  color: var(--clr-text);
  font-size: 24px;
  background-color: #f3f8fb;
  border-style: none;
  border-radius: 7.5px;
  text-align: right;
  padding-right: 15px;
  cursor: pointer;
}

input::placeholder {
  text-align: end;
  color: #a1b7b8;
}

input:focus {
  outline: none;
  border: 2px solid #6ad7cc;
  padding-right: 13px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  font-family: "SpaceMono-Bold";
  font-size: 26px;
  background-color: #00474b;
  color: #f5ffff;
  border-style: none;
  border-radius: 7.5px;
  cursor: pointer;
}

button:hover {
  color: var(--clr-text);
  background-color: #9fe8df;
}

button:focus {
  color: var(--clr-text);
  background-color: #26c2ad;
}

.label {
  font-size: 18px;
  margin-top: 30px;
  color: #646c6e;
}

.icon-1 {
  cursor: pointer;
  position: absolute;
  top: 82.5px;
  left: 17.5px;
}

.icon-2 {
  cursor: pointer;
  position: absolute;
  top: 407.5px;
  left: 17.5px;
}

@media only screen and (max-width: 375px) {
  .left-side {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);

    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(7, 50px);
    gap: 15px;
  }

  .custom {
    grid-column: 2/-1;
    grid-row: 6/7;
  }

  .input {
    box-sizing: border-box;
    height: 50px;
  }

  .icon-2 {
    position: absolute;
    top: 472.5px;
    left: 17.5px;
  }
} ;
